/* ==========================================================================
   Config - General - Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Default
   ========================================================================== */
$white:             #FFFFFF;
$black:             #000000;

$grey:              #103C4A;
$grey--lighter:     #93B0B3;
$grey--light:       #C8DADF;
$grey--lightest:    #FAFAFA;


/* Specific
   ========================================================================== */
$text-color:                $grey;
$text-color--light:         $grey--lighter;

$file--border:              $grey--lighter;
$file--border--hover:       $grey;
