/* ==========================================================================
   Components - Blocks - Box
   ========================================================================== */

.box {
    display: flex;
    margin: 6px;
    padding: 20px;

    box-shadow: 0 0 5px 0 rgba($black, .2);
}
